.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.sidebar-swap-container {
    flex: 1;  /*Takes up all available space */
    overflow-y: auto;
}

.sidebar-header {
    padding: 20px;
    width: var(--sidebar-width);
    height: var(--sidebar-width);
    text-align: center;
    background-color: var(--top-gradient-color);
    align-content: center;
    /*border-bottom: 1px solid #dee2e6;*/
}

.sidebar-logo {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    z-index:12;
}

.sidebar-body {
    display: flex;
    flex-direction: column;
    flex: 1; /* takes remaining space below header */
    overflow: hidden;
    background-image: linear-gradient(180deg, var(--top-gradient-color) 0%, var(--bottom-gradient-color) 70%);
}

.scroll-to-top-btn {
    position: sticky;
    bottom: 0;
}

    .scroll-to-top-btn:hover {
        background-color: var(--btn-hover-color); /* Darker blue on hover */
    }

    /*.scroll-to-top-btn i {
            font-size: 24px;*/ /* Icon size */
    /*}*/


    /* Or use rem for scalability */
    .scroll-to-top-btn i {
        font-size: 1.5rem;
    }

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.dropdown {
    position: relative;
}

/* Style the dropdown button */
.dropbtn {
    background-color: #3f51b5;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

    /* Links inside dropdown content */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        margin: 0 !important;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change background color of dropdown button on hover */
.dropdown:hover .dropbtn {
    background-color: #CADFF2;
}

@media (max-width: 768px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }

    .sidebar {
        width: 100vw;
        height: var(--header-height);
        position: fixed;
        left: 0;
        top: 0;
        overflow: visible;
        z-index: 10;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-image:none;
    }

    .sidebar-header {
        width: var(--header-height);
        height: 75px;
        padding: 10px;
        flex: 0 0 auto;
    }

    .sidebar-body {
        flex: 1;
        flex-direction: row;
        align-items: center;
        overflow: visible;
        background: none;
        padding-left: 10%;
        height: var(--header-height);
        background-image: linear-gradient(90deg, var(--top-gradient-color) 0%, var(--bottom-gradient-color) 120%);
    }

    .sidebar-swap-container {
        flex: 1;
        overflow: visible;
    }

    .sidebar-btn {
        width: fit-content;
        padding: 10px;
    }

    /*.scroll-to-top-btn {
        position: static;*/ /* override the sticky */
        /*flex: 0 0 auto;
    }*/
    .scroll-to-top-btn {
        display: none;
    }

    .scroll-to-top-mobile-btn {
        display: flex;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 10;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 40px;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
    }

    .nav-expand-btn {
        flex: 0 0 auto;
        margin-right: 20px;
        background: none;
        border: none;
        color: var(--top-gradient-color);
    }
        .nav-expand-btn svg {
            vertical-align: unset;
        }
}


@media (min-width: 768px) {
    .page {
        flex-direction: column;
        display: flex;
        /*height: 100vh;*/ /* Full viewport height */
        /*overflow: hidden;*/ /* Prevent scrollbars on root */
    }

    /* Layout container: use flex for sidebar + content */
    .layout-root {
        display: flex;
        height: 100vh; /* Full viewport height */
        overflow: hidden; /* Prevent scrollbars on root */
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .nav-expand-btn {
        display: none;
    }

    .scroll-to-top-mobile-btn {
        display: none;
    }
}
