.logo-image {
    width: 50px;
    display: inline-flex;
    float: left;
}

nav {
    background-image: linear-gradient(90deg, var(--top-gradient-color) 0%, var(--bottom-gradient-color) 120%);
    margin-left: var(--sidebar-width);
    display: flex;
    min-height: 75px;
}

    nav ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: auto;
        font-size: 1.5rem;
        /* margin: 0;
        margin-left: auto;*/
    }

        nav ul li a {
            display: flex;
            color: white;
            min-width: 100px;
            text-wrap-mode: nowrap;
            padding: 16px;
            text-decoration: none;
            position: relative;
            justify-content: center;
        }

            nav ul li a:hover {
                color: var(--top-gradient-color);
                background-color: var(--bottom-gradient-color);
            }

.dropdown-hidden {
    position: relative;
    width: calc(100%);
}

    .dropdown-hidden:hover a {
        color: black;
    }

    .dropdown-hidden div {
        display: none;
    }

.dropdown {
    position: relative;
}

    .dropdown:hover a {
        color: var(--top-gradient-color);
    }

    .dropdown div {
        display: none;
    }

        .dropdown div a {
            text-decoration: none;
            text-wrap-mode: nowrap;
            width: auto;
            color: white;
            background-color: var(--top-gradient-color);
        }

    .dropdown:hover {
        background-color: var(--bottom-gradient-color);
    }

        .dropdown:hover div {
            position: absolute;
            display: block;
        }

            .dropdown:hover div a {
                text-decoration: none;
                text-wrap-mode: nowrap;
                color: white;
            }

                .dropdown:hover div a:hover {
                    color: var(--top-gradient-color);
                }

.checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
}

#checkNav {
    display: none;
}

/* ── Mobile ── */
@media (max-width: 768px) {
    .checkbtn {
        display: block;
        order: 1;
        align-self: center;
        margin-left: auto;
        margin-right: 20px;
    }

    nav {
        position: relative;
        left: 0;
        width: 100%;
        margin-left: 0;
    }

        nav ul {
            position: fixed;
            top: 80px;
            right: -100%;
            background-color: var(--top-gradient-color);
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
            margin:0;
            z-index:11;
        }

            nav ul li {
                position: relative;
                margin: 0;
                width: calc(100%);
            }

                nav ul li a {
                    font-size: 20px;
                    width: calc(100%);
                    padding: 30px;
                    justify-content: center;
                }

                nav ul li div {
                    display: none;
                }

                    nav ul li div a {
                        display: none;
                    }

    #checkNav:checked ~ ul {
        right: 0;
        align-content: center;
    }

        #checkNav:checked ~ ul li a {
            position: relative;
            width: calc(100%);
        }

            #checkNav:checked ~ ul li a:hover div {
                display: none;
            }
}