@inject IRequestService RequestService
@inject IChartService ChartService
@inject ILayoutService LayoutService

@page "/requestsbyborough"

@using CSharpFunctionalExtensions
@using NYC311Dashboard.Components
@using NYC311Dashboard.Extensions
@using NYC311Dashboard.Models
@using NYC311Dashboard.Services
@using NYC311Dashboard.Services.Contracts
@using System.Text.Json
@using NYC311Dashboard.Services.Models

@if (ShowChart)
{
    <div class="content-block">
        <h2>Chart: Total requests and duration for selected boroughs</h2>
        <div id="chart" class="apex-chart-flex-container"></div>

        <h2>Table: Total requests by date for selected boroughs</h2>
        <div class="chart-flex-container">
            <SortableTable Items="requestsByBorough" Options=@GetTableOptions() />
        </div>
    </div>
}

@code {
    private List<RequestModel> requests = new List<RequestModel>();
    private List<BoroughDateTableRow> requestsByBorough = new List<BoroughDateTableRow>();
    private List<string> boroughs = new();
    private HashSet<string> selectedBoroughs = new();
    private ChartOptions chartOptions = new();
    private string label = "Select Boroughs";
    //private DotNetObjectReference<RequestsByBorough>? dotNetRef;
    private string message = "Please refresh data to populate boroughs list!";
    private int sortOrder = 0;
    private bool chartNeedsRefresh = false;

    private bool ShowChart => requestsByBorough != null && requestsByBorough.Any() && selectedBoroughs.Any();

    protected override void OnInitialized()
    {
        LayoutService.SetTitle("Requests by Borough");
    }

    protected override async Task OnInitializedAsync()
    {
        if (RequestService.Boroughs.Count == 0)
        {
            LayoutService.SetSidebar(
                LayoutService.RenderInactiveSidebarButton("No data available", message)
        );
            return;
        }

        if (RequestService.RequestsByBoroughDate.Count == 0)
        {
            await RefreshRequestsByBorough();
        }
        else
        {
            requestsByBorough = RequestService.RequestsByBoroughDate;
        }

        requests = RequestService.Requests;
        boroughs = RequestService.Boroughs;
        selectedBoroughs = RequestService.SelectedBoroughs;

        if (!chartOptions.HasData)
        {
            chartOptions = GetChartOptions(height: "380");
        }

        LayoutService.SetSidebar(LayoutService.RenderCustomSidebar(
             label,
             boroughs,
             selectedBoroughs,
             EventCallback.Factory.Create<HashSet<string>>(this, v => selectedBoroughs = v),
             OnBoroughSelectionChanged
         ));

        chartNeedsRefresh = ShowChart;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!chartNeedsRefresh)
        {
            return;
        }

        chartNeedsRefresh = false;

        if (firstRender)
        {
            await ChartService.RenderBarChart(chartOptions);
        }
        else
        {
            await ChartService.RenderBarChart(chartOptions);

            //dotNetRef = DotNetObjectReference.Create(this);
            //await JS.InvokeVoidAsync("notifyChartDivReady", dotNetRef);
            //await ChartService.UpdateApexChart(chartOptions);
        }
    }

    // [JSInvokable]
    // public async Task RenderChartFromJS()
    // {
    //     await ChartService.RenderBarChart(chartOptions);
    // }

    private async Task OnBoroughSelectionChanged()
    {
        await RefreshRequestsByBorough();
        chartOptions = GetChartOptions(height: "380");
        chartNeedsRefresh = ShowChart;
    }

    protected async Task RefreshRequestsByBorough()
    {
        requestsByBorough.Clear();
        sortOrder = 0;

        var result = RequestService.GenerateTableByBoroughDay();
        if (result.IsFailure)
        {
            return;
        }

        requestsByBorough = RequestService.RequestsByBoroughDate;
    }


    protected TableOptions<BoroughDateTableRow> GetTableOptions()
    {
        var options = new TableOptions<BoroughDateTableRow>
        {
            GroupBy = r => r.Borough,
            TableStyles = "chart-flex-item"
        };

        return options;
    }

    protected ChartOptions GetChartOptions(string? width = null, string? height = null)
    {
        //chartOptions = new();
        var totalDurations = selectedBoroughs
            .Select(b => requestsByBorough.Where(r => r.Borough.Equals(b, StringComparison.OrdinalIgnoreCase)).Sum(r => r.OpenTime))
            .ToList();

        var totalCounts = selectedBoroughs
            .Select(b => (double)requests.Count(r => r.Borough.Equals(b, StringComparison.OrdinalIgnoreCase)))
            .ToList();

        // var totalCountsDouble = totalCounts.Select(x => (double)x).ToList();
        var series = new List<ApexSeries>
        {
            new ApexSeries { Name = "Total Count", Data = totalCounts },
            new ApexSeries { Name = "Total Duration", Data = totalDurations }
        };

        var result = ChartService.GetBarChartOptions("boroughs", selectedBoroughs.ToList(), series, height: "380");

        var options = result.IsSuccess ? result.Value : chartOptions;

        return options;
    }

    public void Dispose()
    {
        //dotNetRef?.Dispose();
    }

    public async ValueTask DisposeAsync()
    {
        await ChartService.DisposeApexChart();
        //LayoutService.SetSidebar(null);
    }
}
