@inject IRequestService RequestService
@inject IChartService ChartService
@page "/requestsbyprecinct"

@using CSharpFunctionalExtensions
@using NYC311Dashboard.Components
@using NYC311Dashboard.Models
@using NYC311Dashboard.Services
@using NYC311Dashboard.Services.Contracts
@using NYC311Dashboard.Extensions

<h3> Requests by Precinct</h3>

@code {

}
