@inject IRequestService RequestService
@inject IChartService ChartService
@inject IPdfService PdfService
@inject ISidebarService SidebarService
@implements IDisposable
@page "/requestsreport"

@using CSharpFunctionalExtensions
@using NYC311Dashboard.Components   
@using NYC311Dashboard.Models
@using NYC311Dashboard.Services
@using NYC311Dashboard.Services.Contracts
@using NYC311Dashboard.Extensions
@using NYC311Dashboard.Services.Models


<h1>Requests Report</h1>

@if (ShowBoroughChart || ShowZipChart)
{
    <div id="pdf-content" class="pdf-print-area">

        <h2>NYC 311 Requests Report</h2>
        <p>This report shows New York City 311 requests selected zip codes within the borougs @string.Join(", ", selectedBoroughs).</p>

        @if (ShowZipChart)
        {
            <h3>Chart: Requests per hour by selected boroughs</h3>
            <div id="chart" class="apex-chart-flex-container"></div>

            <h3>Table: Requests per hour for selected zip codes</h3>
            <div class="chart-flex-container">
                @foreach (var borough in selectedBoroughs)
                {
                    var request = requestsByZipHour.Where(r => r.Borough == borough);
                    if (request.Any())
                    {
                        <div class="chart-flex-item">
                            <SortableTable Items="request" Title=@borough.ToProperCase() />
                        </div>
                    }
                }
            </div>
    }
    </div>
}

@code {
    private List<RequestModel> requests = new List<RequestModel>();
    private List<BoroughDateTableRow> requestsByBorough = new List<BoroughDateTableRow>();
    private List<ZipHourTableRow> requestsByZipHour = new List<ZipHourTableRow>();
    private List<string> boroughs = new();
    private List<string> zipCodes = new();
    private HashSet<string> selectedBoroughs = new();
    private HashSet<string> selectedZipCodes = new();
    private ChartOptions zipChartOptions = new();

    private string message = "Please refresh data to populate boroughs list!";
    private bool chartNeedsRefresh = false;
    private int sortOrder = 0;

    private bool ShowBoroughChart => requestsByBorough != null && requestsByBorough.Count != 0 && selectedBoroughs.Any();
    private bool ShowZipChart => requestsByZipHour != null && requestsByZipHour.Count != 0 && selectedZipCodes.Any();

    protected override async Task OnInitializedAsync()
    {
        if (RequestService.Boroughs.Count == 0)
        {
            SidebarService.SetSidebar(
                SidebarService.RenderInactiveSidebarButton("No data available", message)
        );
            return;
        }

        await RefreshRequestsByZipHour();
        requests = RequestService.Requests;
        boroughs = RequestService.Boroughs;
        zipCodes = RequestService.ZipCodes;
        selectedBoroughs = RequestService.SelectedBoroughs;
        selectedZipCodes = RequestService.SelectedZipCodes;

        if (!zipChartOptions.HasData)
        {
            zipChartOptions = GetZipChartOptions(height: "380");
        }

        SidebarService.SetSidebar(
            SidebarService.RenderSidebarButton(
                "Download PDF",
                "sidebar-btn",
                "Save as PDF?",
                SaveAsPdf)
        );

        await SidebarService.ChangeClassName("content", "content-reports-page");

        chartNeedsRefresh = ShowZipChart;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!chartNeedsRefresh)
        {
            return;
        }

        chartNeedsRefresh = false;
        await ChartService.RenderLineChart(zipChartOptions);
    }

    private async Task SaveAsPdf()
    {
        var options = new PdfOptions
        {
            Margin = 20,
            FileName = "custom.pdf",
            Image = new ImageOptions
            {
                Type = "jpeg",
                Quality = 0.98
            },
            Html2Canvas = new Html2CanvasOptions
            {
                Scale = 2
            },
            JsPDF = new JsPdfOptions
            {
                Unit = "mm",
                Format = "a4",
                Orientation = "portrait"
            }
        };
        await PdfService.RenderPdfDownload("pdf-content", options);
        // await JS.InvokeVoidAsync("saveElementAsPdf", "pdf-content", options);

    }

    protected async Task RefreshRequestsByZipHour()
    {
        requestsByZipHour.Clear();
        sortOrder = 0;

        var result = RequestService.GenerateTableByZipHour();
        if (result.IsFailure)
        {
            return;
        }

        requestsByZipHour = RequestService.RequestsByZipHour;
    }
    protected ChartOptions GetZipChartOptions(string? width = null, string? height = null)
    {
        //chartOptions = new();
        var categories = requestsByZipHour
            .Select(r => r.CreatedDate.ToDateTimeHour())
            .Distinct()
            .OrderBy(x => x)
            .ToList();

        var series = selectedBoroughs
            .Where(borough => requestsByZipHour.Any(r => r.Borough == borough && selectedZipCodes.Contains(r.Zip)))
            .Select(borough => new ApexSeries
            {
                Name = borough,
                Data = categories.Select(cat =>
                    requestsByZipHour
                        .Where(r => r.Borough == borough && selectedZipCodes.Contains(r.Zip) && r.CreatedDate.ToDateTimeHour() == cat)
                        .Sum(r => r.OpenTime)
                ).ToList()
            })
            .ToList();

        var result = ChartService.GetBarChartOptions("zip codes", categories, series, height: "380");

        var options = result.IsSuccess ? result.Value : zipChartOptions;

        return options;
    }

    public void Dispose()
    {
        SidebarService.ChangeClassName("content-reports-page", "content");
    }

    public void DisposeAsync()
    {
        SidebarService.SetSidebar(null);
    }
}