@inject IRequestService RequestService
@inject IMessagingService MessagingService
@inject ISidebarService SidebarService
@page "/requests"

@using CSharpFunctionalExtensions
@using NYC311Dashboard.Components
@using NYC311Dashboard.Models
@using NYC311Dashboard.Services
@using NYC311Dashboard.Services.Contracts

<h1 class="blue-class">NYC 311 Requests</h1>

<p>Please click below to refresh data.</p>

<p>
    <button class="btn btn-primary" @onclick="() => MessagingService.ShowDialog(message, GetNYC311RequestsData)">Refresh 311 data</button>
</p>
<ConfirmDialog @ref="MessagingService.confirmDialog" OnClose="MessagingService.OnDialogClosed" />


@if (requests != null && requests.Count != 0)
{
    <SortableTable Items="requests" Title="" />
}

@code {
    private List<RequestModel> requests = new List<RequestModel>();
    private string message = "Refresh all data for NYC 311 requests?";

    private int sortOrder = 0;

    protected override async Task OnInitializedAsync()
    {
        requests = RequestService.Requests;

        SidebarService.SetSidebar(
            SidebarService.RenderSidebarButton(
                "Refresh 311 data",
                "sidebar-btn",
                EventCallback.Factory.Create(this, () => MessagingService.ShowDialog(message, GetNYC311RequestsData))
            )
        );
    }

    protected async Task GetNYC311RequestsData()
    {
        await RequestService.GetNYC311RequestsDataAsync();
        requests = RequestService.Requests;
        StateHasChanged();
    }

    public void Dispose()
    {
        SidebarService.SetSidebar(null);
    }
}