@inject IRequestService RequestService
@inject ILayoutService LayoutService
@page "/requests"

@using CSharpFunctionalExtensions
@using NYC311Dashboard.Components
@using NYC311Dashboard.Models
@using NYC311Dashboard.Services
@using NYC311Dashboard.Services.Contracts

@if (requests != null && requests.Count != 0)
{
    <div class="content-block"> @* todo: remove if settled on indenting *@
        <SortableTable Items="requests" />
    </div>
}

@code {
    private List<RequestModel> requests = new List<RequestModel>();
    private string message = "Refresh all data for NYC 311 requests?";

    private int sortOrder = 0;

    protected override void OnInitialized()
    {
        LayoutService.SetTitle("NYC 311 Requests");
    }

    protected override async Task OnInitializedAsync()
    {
        requests = RequestService.Requests;

        LayoutService.SetSidebar(
             LayoutService.RenderSidebarButton(
                 "Refresh 311 data",
                 "sidebar-btn",
                 message,
                 GetNYC311RequestsData
             )
         );
    }

    protected async Task GetNYC311RequestsData()
    {
        await RequestService.GetNYC311RequestsDataAsync();
        requests = RequestService.Requests;
        StateHasChanged();
    }
}
