@inject IRequestService RequestService
@inject IChartService ChartService
@inject ISidebarService SidebarService
@page "/requestsbyzip"

@using CSharpFunctionalExtensions
@using NYC311Dashboard.Components
@using NYC311Dashboard.Models
@using NYC311Dashboard.Services
@using NYC311Dashboard.Services.Contracts
@using NYC311Dashboard.Extensions
@using NYC311Dashboard.Services.Models


<h2>Requests by Zip Code</h2>




@* @if (!RequestService.Requests.Any())
{
"Request data is empty. Would you like to refresh it?", "Refresh Confirmation"
    <ConfirmDialog @ref="RequestSerivce.confirmDialog" OnClose="RequestService.OnDialogClosed" />
} *@

@if (zipCodes.Any())
{
    <h3>Total calls and duration by selected Zip Codes</h3>
    <CheckboxDropdown TItem="string"
                      Label="Select Zip Codes"
                      Options="@zipCodes"
                      @bind-SelectedValues="selectedZipCodes"
                      OnSelectionChanged="OnZipSelectionChanged" />
}

@if (ShowChart)
{
    <div id="chart"></div>
    <div class="chart-flex-container">
        @foreach (var borough in selectedBoroughs)
        {
            var request = requestsByZipHour.Where(r => r.Borough == borough);

            @*   <SortableTable Items="requestsByZipHour" Title="" /> *@
            <div class="chart-flex-item">
                <SortableTable Items="request" Title=@borough.ToProperCase() />
            </div>
        }
    </div>
}

@code {
    private List<RequestModel> requests = new List<RequestModel>();
    private List<ZipHourTableRow> requestsByZipHour = new List<ZipHourTableRow>();
    private List<string> boroughs = new();
    private List<string> zipCodes = new();
    private HashSet<string> selectedBoroughs = new();
    private HashSet<string> selectedZipCodes = new();
    private string? Zip;
    private string label = "Select Zip Codes";

    private ChartOptions chartOptions = new();

    private int sortOrder = 0;
    private bool chartNeedsRefresh = false;
    private bool ShowChart => requestsByZipHour != null && requestsByZipHour.Count != 0 && selectedZipCodes.Any();

    protected override async Task OnInitializedAsync()
    {
        if (RequestService.Boroughs.Count == 0)
        {
            return;
        }

        await RefreshRequestsByZipHour();

        // if (RequestService.RequestsByZipHour.Count == 0)
        // {
        //     await RefreshRequestsByZipHour();
        // }
        // else
        // {
        //     requestsByZipHour = RequestService.RequestsByZipHour;
        // }

        requests = RequestService.Requests;
        boroughs = RequestService.Boroughs;
        zipCodes = RequestService.ZipCodes;
        selectedBoroughs = RequestService.SelectedBoroughs;
        selectedZipCodes = RequestService.SelectedZipCodes;

        if (!chartOptions.HasData)
        {
            chartOptions = GetChartOptions(width: "80%", height: "380");
        }
        SidebarService.SetSidebar(SidebarService.RenderCustomSidebar(
             label,
             zipCodes,
             selectedZipCodes,
             EventCallback.Factory.Create<HashSet<string>>(this, v => selectedZipCodes = v),
             OnZipSelectionChanged
         ));

        chartNeedsRefresh = ShowChart;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!chartNeedsRefresh)
        {
            return;
        }

        chartNeedsRefresh = false;
        await ChartService.RenderLineChart(chartOptions);
    }

    private async Task OnZipSelectionChanged()
    {
        await RefreshRequestsByZipHour();
        chartOptions = GetChartOptions(height: "380");
        chartNeedsRefresh = ShowChart;
    }

    protected async Task RefreshRequestsByZipHour()
    {
        requestsByZipHour.Clear();
        sortOrder = 0;

        var result = RequestService.GenerateTableByZipHour();
        if (result.IsFailure)
        {
            return;
        }

        requestsByZipHour = RequestService.RequestsByZipHour;
    }

    protected ChartOptions GetChartOptions(string? width = null, string? height = null)
    {
        //chartOptions = new();
        var categories = requestsByZipHour
            .Select(r => r.CreatedDate.ToDateTimeHour())
            .Distinct()
            .OrderBy(x => x)
            .ToList();

        var series = selectedBoroughs
            .Where(borough => requestsByZipHour.Any(r => r.Borough == borough && selectedZipCodes.Contains(r.Zip)))
            .Select(borough => new ApexSeries
            {
                Name = borough,
                Data = categories.Select(cat =>
                    requestsByZipHour
                        .Where(r => r.Borough == borough && selectedZipCodes.Contains(r.Zip) && r.CreatedDate.ToDateTimeHour() == cat)
                        .Sum(r => r.OpenTime)
                ).ToList()
            })
            .ToList();

        var result = ChartService.GetBarChartOptions("zip codes", categories, series, height: "380");

        var options = result.IsSuccess ? result.Value : chartOptions;

        return options;
    }

    public async ValueTask DisposeAsync()
    {
        await ChartService.DisposeApexChart();
    }
}