@inject IRequestService RequestService
@inject IChartService ChartService
@inject IPdfService PdfService
@inject ILayoutService LayoutService
@implements IDisposable

@page "/requestsreport"

@using CSharpFunctionalExtensions
@using NYC311Dashboard.Components   
@using NYC311Dashboard.Models
@using NYC311Dashboard.Services
@using NYC311Dashboard.Services.Contracts
@using NYC311Dashboard.Extensions
@using NYC311Dashboard.Services.Models
@using System.Linq.Expressions

@if (ShowBoroughChart || ShowZipChart)
{
    <div id="pdf-content" class="pdf-print-area">

        <h2>NYC 311 Requests Report</h2>
        <p>This report shows New York City 311 requests selected zip codes within the borougs @string.Join(", ", selectedBoroughs).</p>

        @if (ShowZipChart)
        {
            <h3>Chart: Requests per hour by selected boroughs</h3>
            <div id="chart-zip" class="apex-chart-flex-container"></div>

            <h3>Table: Requests per hour for selected zip codes</h3>
            <div class="table-flex-container">
                <SortableTable Items="requestsByZipHour" Options=@zipHourOptions />
            </div>
    }
    </div>
}

@code {
    private List<RequestModel> requests = new List<RequestModel>();
    private List<BoroughDateTableRow> requestsByBorough = new List<BoroughDateTableRow>();
    private List<ZipHourTableRow> requestsByZipHour = new List<ZipHourTableRow>();
    private List<string> boroughs = new();
    private List<string> zipCodes = new();
    private HashSet<string> selectedBoroughs = new();
    private HashSet<string> selectedZipCodes = new();
    private ChartOptions? boroughChartOptions;
    private ChartOptions? zipChartOptions;

    private string message = "Please refresh data to populate boroughs list!";
    private bool zipChartNeedsRefresh = false;
    private bool boroughChartNeedsRefresh = false;
    private int sortOrder = 0;

    private bool ShowBoroughChart => requestsByBorough != null && requestsByBorough.Count != 0 && selectedBoroughs.Any();
    private bool ShowZipChart => requestsByZipHour != null && requestsByZipHour.Count != 0 && selectedZipCodes.Any();

    private TableOptions<BoroughDateTableRow>? boroughDateOptions;
    private TableOptions<ZipHourTableRow>? zipHourOptions;

    protected override void OnInitialized()
    {
        LayoutService.SetTitle("Requests Report");
        boroughDateOptions = GetTableOptions<BoroughDateTableRow>(r => r.Borough);
        zipHourOptions = GetTableOptions<ZipHourTableRow>(r => r.Borough);
    }


    protected override async Task OnInitializedAsync()
    {
        if (RequestService.Boroughs.Count == 0)
        {
            LayoutService.SetSidebar(
                LayoutService.RenderInactiveSidebarButton("No data available", message)
        );
            return;
        }

        await RefreshRequestsByZipHour();
        requests = RequestService.Requests;
        boroughs = RequestService.Boroughs;
        zipCodes = RequestService.ZipCodes;
        selectedBoroughs = RequestService.SelectedBoroughs;
        selectedZipCodes = RequestService.SelectedZipCodes;

        // if (!boroughChartOptions.HasData)
        // {
        //     boroughChartOptions = GetBoroughChartOptions(height: "380");
        // }

        // if (!zipChartOptions.HasData)
        // {
        //     zipChartOptions = GetZipChartOptions(height: "380");
        // }

        LayoutService.SetSidebar(
            LayoutService.RenderSidebarButton(
                "Download PDF",
                "sidebar-btn",
                "Save as PDF?",
                SaveAsPdf)
        );

        await LayoutService.ChangeClassName("content", "content-reports-page");

        boroughChartNeedsRefresh = ShowBoroughChart;
        zipChartNeedsRefresh = ShowZipChart;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (zipChartNeedsRefresh)
        {
            zipChartNeedsRefresh = false;
            await ChartService.RenderLineChart("#chart-zip", zipChartOptions);
        }

        if (boroughChartNeedsRefresh)
        {
            boroughChartNeedsRefresh = false;
            await ChartService.RenderBarChart("#chart-zip", boroughChartOptions);
        }
    }

    private async Task SaveAsPdf()
    {
        var options = new PdfOptions
        {
            Margin = [10, 10, 10, 10],
            FileName = "custom.pdf",
            Image = new ImageOptions
            {
                Type = "jpeg",
                Quality = 0.98
            },
            Html2Canvas = new Html2CanvasOptions
            {
                Scale =2
            },
            JsPDF = new JsPdfOptions
            {
                Unit = "mm",
                Format = "a4",
                Orientation = "portrait"
            },
            PageBreak = new PageBreak
            {
                Mode = ["css"],
                Avoid = ["tr", "td", "h2", "h3", "h4"]
            }
        };
        await PdfService.RenderPdfDownload("pdf-content", options);
    }

    protected TableOptions<T> GetTableOptions<T>(Expression<Func<T, string>>? groupBy)
    {
        var options = new TableOptions<T>
        {
            GroupBy = groupBy,
            TableStyles = "table-flex-item"
        };

        return options;
    }

    protected async Task RefreshRequestsByZipHour()
    {
        requestsByZipHour.Clear();
        sortOrder = 0;

        var result = RequestService.GenerateTableByZipHour();
        if (result.IsFailure)
        {
            return;
        }

        requestsByZipHour = RequestService.RequestsByZipHour;
    }

    public void Dispose()
    {
        LayoutService.ChangeClassName("content-reports-page", "content");
    }
}