@inject IRequestService RequestService
@inject IChartService ChartService
@inject ILayoutService LayoutService
@inject IMessagingService MessagingService

@page "/requestsbyzip"

@using CSharpFunctionalExtensions
@using NYC311Dashboard.Components
@using NYC311Dashboard.Models
@using NYC311Dashboard.Services
@using NYC311Dashboard.Services.Contracts
@using NYC311Dashboard.Extensions
@using NYC311Dashboard.Services.Models

@if (ShowChart)
{
    <div class="content-block">
        <h2>Chart: Requests per hour by selected boroughs</h2>
        <div id="chart" class="apex-chart-flex-container"></div>

        <h2>Table: Requests per hour for selected zip codes</h2>
        <div class="chart-flex-container">
            <SortableTable Items="requestsByZipHour" Options=@GetTableOptions() />
        </div>
    </div>
}

@code {
    private List<RequestModel> requests = new List<RequestModel>();
    private List<ZipHourTableRow> requestsByZipHour = new List<ZipHourTableRow>();
    private List<string> boroughs = new();
    private List<string> zipCodes = new();
    private HashSet<string> selectedBoroughs = new();
    private HashSet<string> selectedZipCodes = new();
    private string label = "Select Zip Codes";
    private string message = "Please refresh data to populate boroughs list!";
    private ChartOptions chartOptions = new();

    private int sortOrder = 0;
    private bool chartNeedsRefresh = false;
    private bool ShowChart => requestsByZipHour != null && requestsByZipHour.Count != 0 && selectedZipCodes.Any();

    protected override void OnInitialized()
    {
        LayoutService.SetTitle("Requests by Zip Code");
    }

    protected override async Task OnInitializedAsync()
    {
        if (RequestService.Boroughs.Count == 0)
        {
            LayoutService.SetSidebar(
                LayoutService.RenderInactiveSidebarButton("No data available", message)
        );
            return;
        }

        await RefreshRequestsByZipHour();


        // if (RequestService.RequestsByZipHour.Count == 0)
        // {
        //     await RefreshRequestsByZipHour();
        // }
        // else
        // {
        //     requestsByZipHour = RequestService.RequestsByZipHour;
        // }

        requests = RequestService.Requests;
        boroughs = RequestService.Boroughs;
        zipCodes = RequestService.ZipCodes;
        selectedBoroughs = RequestService.SelectedBoroughs;
        selectedZipCodes = RequestService.SelectedZipCodes;

        if (!chartOptions.HasData)
        {
            chartOptions = GetChartOptions(height: "380");
        }
        LayoutService.SetSidebar(LayoutService.RenderCustomSidebar(
             label,
             zipCodes,
             selectedZipCodes,
             EventCallback.Factory.Create<HashSet<string>>(this, v => selectedZipCodes = v),
             OnZipSelectionChanged
         ));

        chartNeedsRefresh = ShowChart;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!chartNeedsRefresh)
        {
            return;
        }

        chartNeedsRefresh = false;
        await ChartService.RenderLineChart(chartOptions);
    }

    private async Task OnZipSelectionChanged()
    {
        await RefreshRequestsByZipHour();
        chartOptions = GetChartOptions(height: "380");
        chartNeedsRefresh = ShowChart;
    }

    protected async Task RefreshRequestsByZipHour()
    {
        requestsByZipHour.Clear();
        sortOrder = 0;

        var result = RequestService.GenerateTableByZipHour();
        if (result.IsFailure)
        {
            return;
        }

        requestsByZipHour = RequestService.RequestsByZipHour;
    }

    protected TableOptions<ZipHourTableRow> GetTableOptions()
    {
        var options = new TableOptions<ZipHourTableRow>
            {
                GroupBy = r => r.Borough,
                TableStyles = "chart-flex-item"
            };

            return options;
    }

    protected ChartOptions GetChartOptions(string? width = null, string? height = null)
    {
        //chartOptions = new();
        var categories = requestsByZipHour
            .Select(r => r.CreatedDate.ToDateTimeHour())
            .Distinct()
            .OrderBy(x => x)
            .ToList();

        var series = selectedBoroughs
            .Where(borough => requestsByZipHour.Any(r => r.Borough.Equals(borough, StringComparison.OrdinalIgnoreCase) && selectedZipCodes.Contains(r.Zip)))
            .Select(borough => new ApexSeries
            {
                Name = borough,
                Data = categories.Select(cat =>
                    requestsByZipHour
                        .Where(r => r.Borough.Equals(borough, StringComparison.OrdinalIgnoreCase) && selectedZipCodes.Contains(r.Zip) && r.CreatedDate.ToDateTimeHour() == cat)
                        .Sum(r => r.OpenTime)
                ).ToList()
            })
            .ToList();

        var result = ChartService.GetBarChartOptions("zip codes", categories, series, height: "380");

        var options = result.IsSuccess ? result.Value : chartOptions;

        return options;
    }

    public async ValueTask DisposeAsync()
    {
        await ChartService.DisposeApexChart();
    }
}